body{
	font-family: 'Metamorphous', cursive;
	background-image: url(/img/preloadBG.jpg);
}

h2 {
	font-family: 'Metamorphous', cursive;
	color: #3f3fa7;
	font-size: 50px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-bottom: 0px;
}

h4{
    font-family: 'Metamorphous', cursive;
}


p {
	color: white;
}

.button{
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 20px;
    outline: none;
    border-radius: 15px;
    background-color: #3f3fa7;
    border: 1px solid #060669;
}

.button:hover{
	background-color: white;
	color: #3f3fa7;
}

#logo {
	width: 200px;
}

.orbit-slide {
	 
	border: 10px white;
	padding-top: 0px;
	height: 400px;
}

#top-players{
	margin-top: 50px;
}

/* The Modal (background) */
.modal {
    border-color: black;
    border-width: 10px;
    border-style: double;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    display: none; /* Hidden by default */
    max-height: calc(100% - 100px);
  	position: fixed;
    top: 50%;
    left: 50%;
  	transform: translate(-50%, -50%);
    width: 500px; /* Full width */
    height: 500px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #3f3fa7;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    
    
}

#login-modal {
    background: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}

/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}