body {
    background: url("../img/preloadBG.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    color: white;
    font-family: 'Metamorphous', cursive;
}

h1 {
    font-family: 'Metamorphous', cursive;
}


/*ONLY POSITIONING*/

#pageContainer {
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
    height: 630px;
}

#userProfile {
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    margin-left: 50px;
    height: 450px;
    width: 550px;
    float: left;
}

#checkContainer {
    margin-top: 180px;
    height: 150px;
    text-align: center;
    padding: 10px;
}

#items {
    margin: 10px;
    margin-left: 640px;
    margin-top: 43px;
    padding: 20px;
    height: 415px;
}

#charName {
    text-align: center;
}

#buyItem {
    margin-bottom: 15px;
    height: 80px;
    pointer-events: none;
}

#home {
    margin-top: 10px;
    margin-left: 350px;
    text-align: center;
    padding: 10px;
    width: 10%;
}


/*START OF DESIGNING*/

#pageContainer {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid #3f3fa7;
    border-radius: 30px;
}

#items {
    font-size: 15px;
    border: 1px solid #3f3fa7;
    border-radius: 30px;
    background-color: rgba(6, 6, 105, 0.8);
}

#userProfile {
    border: 1px solid #3f3fa7;
    border-radius: 30px;
    background-color: rgba(6, 6, 105, 0.8);
}


/*right side box design*/

#left {
    padding: 20px;
    border-right: 1px solid #3f3fa7;
    width: 40%;
    margin-top: 40px;
}

#right {
    padding: 30px;
    width: 58%;
    position: relative;
}

#itemHere {
    padding: 20px;
    position: absolute;
    z-index: 1;
    margin-top: 80px;
    width: 100%;
}

img {
    border: 1px solid black;
    border-radius: 20px;
}

#chest {
    height: 320px;
    width: 100%;
    border: none;
}


/*Buttons DESIGN*/

#home {
    font-size: 20px;
    border-radius: 15px;
    outline: none;
    background-color: white;
    border: 1px solid white;
    color: #060669;
}

#checkout {
    background-color: white;
    border: 1px solid white;
    color: #060669;
    font-size: 20px;
    border-radius: 15px;
    padding: 8px;
    outline: none;
}

#sword {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#helmet {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#legs {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#boots {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#armor {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#health {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}


/*buttons hover design*/

#checkout:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid #cc6666;
    color: #cc6666;
}

#home:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#sword:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#helmet:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#legs:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#boots:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#armor:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#health:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}


/*Items design*/

.swordItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}

.helmetItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}

.legItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}

.bootsItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}

.armorsItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}


/*Items hover design*/

.swordItem:hover {
    border: solid #3f3fa7;
    width: 62px;
    height: 62px;
}

.legItem:hover {
    border: solid #3f3fa7;
    width: 62px;
    height: 62px;
}

.bootsItem:hover {
    border: solid #3f3fa7;
    width: 62px;
    height: 62px;
}

.armorsItem:hover {
    border: solid #3f3fa7;
    width: 62px;
    height: 62px;
}

.helmetItem:hover {
    border: solid #3f3fa7;
    width: 62px;
    height: 62px;
}
