body {
    background: url("../img/preloadBG.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    color: white;
    font-family: 'Metamorphous', cursive;
}

h1 {
    font-family: 'Metamorphous', cursive;
}


/*ONLY POSITIONING*/

#pageContainer {
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
    height: 630px;
}

#userProfile {
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    margin-left: 50px;
    height: 450px;
    width: 550px;
    float: left;
}

#items {
    margin: 10px;
    margin-left: 640px;
    margin-top: 43px;
    padding: 20px;
    height: 415px;
}

#charName {
    text-align: center;
}


/*START OF DESIGNING*/

#pageContainer {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid #3f3fa7;
    border-radius: 30px;
}

#items {
    font-size: 15px;
    border: 1px solid #3f3fa7;
    border-radius: 30px;
    background-color: rgba(6, 6, 105, 0.8);
}

#userProfile {
    border: 1px solid #3f3fa7;
    border-radius: 30px;
    background-color: rgba(6, 6, 105, 0.8);
}


/*right side box design*/

#left {
    padding: 20px;
    border-right: 1px solid #3f3fa7;
    width: 40%;
    margin-top: 40px;
}

#right {
    padding: 30px;
    width: 58%;
    position: relative;
}

#itemHere {
    padding: 20px;
    position: absolute;
    z-index: 1;
    margin-top: 80px;
    width: 100%;
}

img {
    border: 1px solid black;
    border-radius: 20px;
}

#chest {
    height: 320px;
    width: 100%;
    border: none;
}


/*Buttons DESIGN*/

#sword {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#helmet {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#legs {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#boots {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#armor {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}

#health {
    border: 1px solid #3f3fa7;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    background-color: white;
    width: 70%;
    text-align: center;
}


/*buttons hover design*/

#sword:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#helmet:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#legs:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#boots:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#armor:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}

#health:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid white;
    color: white;
}


/*Items design*/

#swordItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}

#swordItem:hover {
    width: 100px;
    height: 100px;
}

#helmetItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}

#helmetItem:hover {
    width: 100px;
    height: 100px;
}

#legItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}

#legItem:hover {
    width: 100px;
    height: 100px;
}

#bootsItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}

#bootsItem:hover {
    width: 100px;
    height: 100px;
}

#armorItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
    margin: 2px;
}

#armorItem:hover {
    width: 100px;
    height: 100px;
}

#healthItem {
    width: 64px;
    height: 64px;
    border: none;
    background: white;
    padding: 5px;
}

#healthItem:hover {
    width: 100px;
    height: 100px;
}
