body {
    background: url("../img/preloadBG.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

h1,
label,
input {
    font-family: 'Metamorphous', cursive;
    color: white;
    text-align:center;
}

#signup-wrapper {
    border: 1px solid #3f3fa7;
    border-radius: 30px;
    margin-top: 2rem;
    background-color: rgba(6, 6, 105, 0.8);
    text-align: center;
    color: white;
    font-family: 'Metamorphous', cursive;
    display: none;
    padding: 2rem 4rem;
}

#new-user-info{
}

.btn{
    height: auto;
    padding: 1rem 2rem;
    margin: 1rem;
    border: 1px solid #3f3fa7;
    background-color: rgba(6, 6, 105, 0.8);
    color: white;
    font-size: 40px;
    font-family: 'Metamorphous', cursive;
    border-radius: 20px;
    outline: none;
}

.btn:hover,.btn:focus{
    background-color: #060669;
    border: 1px solid #3f3fa7;
    color: #7979e0;  
}

#sexContainer {
    padding: 10px;
    display: none;
}

#male, #female{
    width: 33%;
}

#picContainer {
    padding: 10px;
}

.profile-pic{
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 1px solid #3f3fa7;
    border-radius: 20px;
}

.profile-pic:hover{
    border: 2px solid white;
    opacity: 0.5
}

#submitProfile {
    padding: 20px;
    outline: none;
    border-radius: 15px;
    background-color: #3f3fa7;
    border: 1px solid #060669;
    color: white;
}

#submitProfile:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid #3f3fa7;
}

#createSprite{
    display: none;
}

#testing {
    border: 1px solid white;
    background-color: blue;
}

/* SPRITE SECTION */

h2 {
    font-family: 'Metamorphous', cursive;
    color: #3f3fa7;
    font-size: 50px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-bottom: 0px;
}

h4 {
    font-family: 'Metamorphous', cursive;
    color: white;
}

#sprite-selection{
    text-align: center;
    margin-top: 1rem;
}

.select-wrapper input.select-dropdown,.input-field.row{
    width: 100%;
    margin: 0.60rem auto;
}

#preview-wrapper{
    height: 75vh;
    text-align: center;
    display:block;
    padding-left: 2rem;
}


#preview{
    display: block;
    margin: 0;
    background-image: url(/img/woodback.jpg);
    border-width: 10px;
    border-style: double;
    border-color: grey;
    height: 300px;
    /* border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%; */
    overflow: scroll;
    margin-top: 3rem;
}

#canvas-wrapper{
    overflow: hidden;
}

#create-btn-wrapper{
    margin-top: 5%
}


input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #cfd8dc;
    -webkit-box-shadow: 0 1px 0 0 #cfd8dc;
    box-shadow: 0 1px 0 0 #cfd8dc;
}

.dropdown-content li>a, .dropdown-content li>span{
    color: #060669
}

.dropdown-content{
    background-color: rgba(255,255,255,0.75)
}