body {
    background: url("../img/preloadBG.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
}

h1,
label,
input {
    font-family: 'Metamorphous', cursive;
    color: white;
}

#signup-wrapper {
    border: 1px solid #3f3fa7;
    border-radius: 30px;
    margin-top: 160px;
    margin-left: 370px;
    margin-right: 370px;
    padding: 30px;
    background-color: rgba(6, 6, 105, 0.8);
    text-align: center;
    color: white;
    font-family: 'Metamorphous', cursive;
}

#button {
    padding: 20px;
    outline: none;
    border-radius: 15px;
    background-color: #3f3fa7;
    border: 1px solid #060669;
}

#button:hover {
    background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid #3f3fa7;
}
