body{
	font-family: 'Metamorphous', cursive;
	background: url("../img/preloadBG.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
}



h2 {
	font-family: 'Metamorphous', cursive;
	color: #3f3fa7;
	font-size: 70px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-bottom: 0px;
}

h4{
    font-family: 'Metamorphous', cursive;	
	color:white;
}


p {
	color: white;
}

button{
	color: white;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
    outline: none;
    border-radius: 15px;
    background-color: #3f3fa7;
    border: 1px solid #060669;
}

button:hover{
	background-color: rgba(6, 6, 105, 0.8);
    border: 1px solid #3f3fa7;
}

.material-icons {
	margin-top: 10px;
}

#canvas {
	background-color: #060669;
	border-width: 10px;
	border-style: double;
	border-color: #3f3fa7;
	height: 400px;
	margin-top: 100px;
	margin-left: 100px;
	padding-bottom: 25px;
	padding-top: 10px;
	border-bottom-left-radius: 45%;
	border-bottom-right-radius: 45%;

}