body {
    background: url("../img/preloadBG.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
}

.container{
    width: 60%;
    display:none;
}

#navDiv {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #060669;
    color: white;
    font-family: 'Metamorphous', cursive;
    border-bottom: 1px solid #3f3fa7;
    font-size: 30px;
}

#username{
    text-transform: uppercase;
}

#logoutButton {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 15px;
    color: white;
    outline: none;
}

#logoutButton:hover {
    border-left: 1px solid #3f3fa7;
    border-right: 1px solid #3f3fa7;
    color: #7979e0;
}

#button-container {
    padding: 0px;
    margin-top: 20px;
    text-align: center;
}

.btn{
    height: auto;
    padding: .5rem 2rem;
    margin: .5rem 1rem;
    border: 1px solid #3f3fa7;
    background-color: rgba(6, 6, 105, 0.8);
    color: white;
    font-size: 2rem;
    font-family: 'Metamorphous', cursive;
    border-radius: 20px;
    outline: none;
}

.btn:hover,.btn:focus{
    background-color: #060669;
    border: 1px solid #3f3fa7;
    color: #7979e0;  
}

h3,h5{
    font-family: 'Metamorphous', cursive;
}

#user-info {
    color: white;
    background-color: rgba(6, 6, 105, 0.8);
    font-family: 'Metamorphous', cursive;
    padding: 2rem;
    border-radius: 20px;
    border: 1px solid #3f3fa7;
}

.stats-item{
    font-weight: bold
}

#userStat {
}

table tbody tr:nth-child(even),table.striped>tbody>tr:nth-child(odd),table tbody{
    background-color: rgba(0,0,0,0);
    border: 0px solid black;
    color: white;
}

#profile-container {
    text-align:center;
}

.card{
    margin: 0 auto;
    width: 75%
}

#crop{
    height: 64px;
    width: 64px;
    overflow: hidden;
}

#sprite{
}
