<!DOCTYPE html>
<html>

<head>
    <title>Dummy Handlebar</title>
    <meta charset="utf-8">
    <!-- Foundation CSS -->
    <link rel="stylesheet" href="css/foundation.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css" />
</head>



<body>










    <!-- Foundation JQuery-->
    <script src="js/vendor/jquery.js"></script>

    <!-- Foundation JavaScript-->
    <script src="js/vendor/foundation.min.js"></script>

    <script>
        $(document).foundation();

    </script>
</body>

</html>
