<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial scale=1.0">

	<title>Lords of Might</title>
	
	
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/homepage.css" />
    <!-- Lord of Might Font-->
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">

</head>
<body>
 <embed src="/audio/conan.mp3"
    loop="true" 
    autoplay="false" 
    width="0" no
    height="0">
</embed> 

<!-- Row class no "Containers" in FOundation-->
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><h2>Lords of Might</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <button class="nav-btns" id="sign-btn">
            <a href="/signUp" style="font-size: 24px;">Sign Up</a>
        </li>
          </button>
        <li>
          <button class="nav-btns" id="login-btn">
            Login
          </button>
        </li>
      </ul>
    </div>
  </nav>

<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/img/medieval-characters.jpg"> 
        <div class="caption center-align">
          <h3>Choose Your Character</h3>
        </div>
      </li>
      <li>
        <img src="/img/weapons-pic.jpg" style="height: 850px;">
        <div class="caption left-align">
          <h3>Select Your Weapons</h3>
        </div>
      </li>
      <li>
        <img src="/img/duel.jpg" style="height: 800px;"> 
        <div class="caption right-align">
          <h3 style="color: black;">Battle Your Enemies</h3>
        </div>
      </li>
      <li>
        <img src="/img/victory.jpg">
        <div class="caption center-align">
          <h3 style="color: black;">Conquer the Land!</h3>
        </div>
      </li>
    </ul>
  </div>
<!-- Main Carousel Div -->
<!-- <div class="carousel carousel-slider duration">
    <a class="carousel-item" href="#one!">
      <img src="/img/medieval-characters.jpg" style="height: 500px;"></a>
    <a class="carousel-item" href="#two!">
      <img src="/img/weapons-pic.jpg" style="height: 500px;"></a>
    <a class="carousel-item" href="#three!">
      <img src="/img/duel.jpg" style="height: 500px;"></a>
    <a class="carousel-item" href="#four!">
      <img src="/img/victory.jpg" style="height: 500px;"></a>
  </div> -->

<p>A Flipped Scripts creation, 2017. </p>
</div>
<!-- The Modal -->
<div id="signup-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <form>
          <div class="row">
              <div class="medium-6 columns">
                  <label><h4 style="color: white">Username</h4>
                      <input type="text" id='signup-username' value='foobar@gmail.com' placeholder="What is your name, Peasant?">
                  </label>
              </div>
          </div>
          <div class="row">
              <div class="medium-6 columns">
                  <label><h4 style="color: white">Password</h4>
                      <input type="text" id='signup-password' value='foobar' placeholder="You must use the Magic word">
                  </label>
                  <a class="button" id="signup-submit">Enter</a>
              </div>
          </div>
      </form>
  </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">
 
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <form>
          <div class="row">
              <div class="medium-6 columns">
                  <label><h4 style="color: white">Username</h4>
                      <input type="text" id='login-username' value='foobar@gmail.com' placeholder="What is your name, Peasant?">
                  </label>
              </div>
          </div>
          <div class="row">
              <div class="medium-6 columns">
                  <label><h4 style="color: white">Password</h4>
                      <input type="text" id='login-password' value='foobar' placeholder="You must use the Magic word">
                  </label>
                  <a class="button" id="login-submit">Enter</a>
              </div>
          </div>
      </form>
  </div>
</div>


    <script>

      $(document).ready(function(){

        $('.slider').slider();
      // $('.carousel.carousel-slider').carousel({fullWidth: true});

      // $('.carousel').carousel({dist:0});
      //   window.setInterval(function(){$('.carousel').carousel('next')},3000)
// 


      // Get the modal
      var modal = document.getElementById('myModal');

      // Get the button that opens the modal
      var btn = document.getElementById("login-btn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on the button, open the modal 
      btn.onclick = function() {
          modal.style.display = "block";  
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
});
      



  </script>
  <script src='/js/index.js'></script>
</body>

</html>