<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial scale=1.0">

	<title>LORDS OF MIGHT</title>
	
    <link rel="stylesheet" href="/css/homepage.css" />
    <!-- Lord of Might Font-->
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">

    
</head>

<body>

    <!-- Music -->
    <audio autoplay loop>
      <source src="/audio/conan.mp3" type="audio/mpeg" />
    </audio>

 

  <!-- Modal -->
  <div id="login-modal" class="modal">
    <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
        </div>
      <form role="form" id='login-form'>
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Email</label>
                <input type="text" value="guest@sample.com" class="form-control" id="login-username" placeholder="Who goes there?">
              </div>
              <div class="form-group">
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input class="form-control" value="password" type='password' id="login-password" placeholder="What is the magic word?">
                </div>
            </form>
          <div class="row">
              <div class="col s6">
                <button type="submit" id="ml-btn"> Login</button>
              </div>
              <div class="col s6">
                <button type="button" class="close" id="mc-btn">Cancel</button>
              </div>
            </div>
    </div>
    
  </div>

<!-- Navigation -->
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><h2>LORDS OF MIGHT</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a class="waves-effect waves-light btn" href="/user" id="game-btn">Lobby</a>
         </li>
        <li>
            <a class="waves-effect waves-light btn" href="/signUp" id="sign-btn">Sign up</a>
         </li>
        <li>
            <a class="waves-effect waves-light btn modal-trigger" href="#login-modal" id="login-btn">Login</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- Slider -->
<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/img/medieval-characters.jpg"> 
        <div class="caption center-align">
          <h3>Choose Your Character</h3>
        </div>
      </li>
      <li>
        <img src="/img/weapons-pic.jpg" style="height: 850px;">
        <div class="caption left-align">
          <h3>Select Your Weapons</h3>
        </div>
      </li>
      <li>
        <img src="/img/duel.jpg" style="height: 800px;"> 
        <div class="caption right-align">
          <h3 style="color: black;">Battle Your Enemies</h3>
        </div>
      </li>
      <li>
        <img src="/img/victory.jpg">
        <div class="caption center-align">
          <h3 style="color: black;">Conquer the Land!</h3>
        </div>
      </li>
    </ul>
  </div>
  
<p>A Flipped Scripts creation, 2017. </p>
</div>

<!-- Jquery/Materialize -->
<script src='/js/index.js'></script>

     <script>

      $(document).ready(function(){

        $('.slider').slider();

         $("#login-btn").click(function(){
        $("#login-modal").modal();
      });
         $('#mc-btn').click(function(){
          var snd = new Audio("/audio/axe slash.wav");
            snd.play();
            snd.currentTime=0;
             $('#login-modal').modal('close');
         });
        

});   
  
  </script>
      
</body>

</html>
