<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/foundation/css/foundation.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/shop.css" />
    <!-- Lord of Might Font-->
    <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">
    <title>Shop - Lords of Might</title>
</head>

<body>

    <audio autoplay loop>
      <source src="/audio/shop-music.mp3" type="audio/mpeg" />
    </audio>

    <div class="row">

        <!-- main content container-->
        <div id="pageContainer">

            <h1 style="text-align: center;">WHAT WOULD YOU LIKE TO BUY?</h1>

            <!-- user profile picture-->
            <div id="userProfile">
                <p id="charName">USERNAME</p>
            </div>

            <!-- List of items to buy at the shop-->
            <div id="items">
                <div id="left" style="float: left;">
                    <div>
                        <input id="sword" type="submit" value="SWORDS" />
                    </div>
                    <div>
                        <input id="helmet" type="submit" value="HELMETS" />
                    </div>
                    <div>
                        <input id="legs" type="submit" value="LEGS" />
                    </div>
                    <div>
                        <input id="boots" type="submit" value="BOOTS" />
                    </div>
                    <div>
                        <input id="armor" type="submit" value="ARMOR" />
                    </div>
                    <div>
                        <input id="health" type="submit" value="POTION" />
                    </div>
                </div>
                <div id="right" style="float:right; text-align: center;">
                    <div id="itemHere">
                    </div>
                    <img id="chest" src="img/chest.png" />
                </div>
            </div>

        </div>

        <!-- Foundation JQuery-->
        <script src="css/foundation/js/vendor/jquery.js"></script>

        <!-- Foundation JavaScript-->
        <script src="css/foundation/js/vendor/foundation.min.js"></script>

        <script>
            $(document).foundation();

        </script>
        <script src='/js/buy-shop.js'></script>

</body>

</html>
