<!DOCTYPE html>
<html>

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/shop.css" />
    <!-- Lord of Might Font-->
    <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">
    <title>Shop - Lords of Might</title>
</head>

<body>

    {{!-- <audio autoplay loop>
      <source src="/audio/shop-music.mp3" type="audio/mpeg" />
    </audio> --}}


        <!-- main content container-->
        <div id="pageContainer" class='row container'>

            <h1 style="text-align: center;">WHAT WOULD YOU LIKE TO BUY?</h1>

            <!-- user profile picture-->
            <div id="userProfile" class='col s4'>
                <h4 id="charName">{{user.name}}</h4>
                <p>Gold: <span id='user-gold'>{{user.Game_State.gold}}</span></p>
                {{!-- <p>Space: <span id='user-invent-space'></span></p> --}}
                <div id="checkContainer">
                    <p>ITEM INFO</p>
                    <div id="buyItem">
                        <div id='item-info'>
                            <span id='item-pic' class='left'></span>
                            <span id='item-name' class=''></span>
                        </div>
                        <table class=''>
                            <tbody>
                                <tr>
                                    <td><span class='stats-item'>HP</span></td>
                                    <td><span class='stat' id='item-hp'></span></td>
                                    <td><span class='stats-item'>MP</span></td>
                                    <td><span class='stat' id='item-mp'></span></td>
                                </tr>
                                <tr>
                                    <td><span class='stats-item'>Attack</span></td>
                                    <td><span class='stat' id='item-attack'></span></td>
                                    <td><span class='stats-item'>Defense</span></td>
                                    <td><span class='stat' id='item-defense'></span></td>
                                </tr>
                                <tr>
                                    <td><span class='stats-item'>Agility</span></td>
                                    <td><span class='stat' id='item-agility'></span></td>
                                    <td><span class='stats-item'>Recovery</span></td>
                                    <td><span class='stat' id='item-recovery'></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <!-- List of items to buy at the shop-->
            <div id="items" class='col s8'>
                <div class='row all-cat'>
                        <a id="sword" class='cat-btn waves-effect waves-light btn' type="submit" value="SWORDS" /> Swords <a/>
                        <a id="helmet"  class='cat-btn waves-effect waves-light btn'  type="submit" value="HELMETS" />Helmets</a>
                        <a id="legs"  class='cat-btn waves-effect waves-light btn'  type="submit" value="PANTS" />Pants</a>
                        <a id="boots"  class='cat-btn waves-effect waves-light btn'  type="submit" value="BOOTS" />Boots</a>
                        <a id="armor" class='cat-btn waves-effect waves-light btn'  type="submit" value="ARMOR" />Armour</a>
                </div>
                <div class='row shop-inventory'>
                    <div id="itemHere">
                    </div>
                </div>

                <div class='action-btn-wrapper'>
                    <a class="action-btn waves-effect waves-light btn" id='buy-item'>BUY</a>
                    <a class="action-btn waves-effect waves-light btn" href='/user'>LOBBY</a>
                </div>

            </div>

        </div>
    </div>
        <script src='/js/buy-shop.js'></script>

</body>

</html>
