<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/foundation/css/foundation.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/signUp.css" />
    <title>Sign Up - Lords of Might</title>
</head>

<body>

    <div id='signup-wrapper' style='display:inline-block; margin-left: 3rem'>
        <h1>Sign Up</h1>

        <form action="/users/new" method="post" autocomplete="off">
            <div>
                <label>Username:</label>
                <input type="text" id='signup-username' name="username" />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" id='signup-password' name="password" />
            </div>
            <div>
                <input type="submit" value="Signup!" />
            </div>
        </form>
    </div>



    <!-- Foundation JQuery-->
    <script src="css/foundation/js/vendor/jquery.js"></script>

    <!-- Foundation JavaScript-->
    <script src="js/vendor/foundation.min.js"></script>

    <script>
        $(document).foundation();

    </script>
    <script src='/js/index.js'></script>
</body>

</html>
