<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/foundation/css/foundation.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/signUp.css" />
    <!-- Lord of Might Font-->
    <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">
    <title>Sign Up - Lords of Might</title>
</head>

<body>

    <div class="row">
        <div id='signup-wrapper'>
            <h1>JOIN LORDS OF MIGHT</h1>

            <form action="/users/new" method="post" autocomplete="off">
                <div>
                    <label>EMAIL:</label>
                    <div id="createEmail">
                        <input type=text>
                    </div>
                </div>
                 <div>
                    <label>FULL NAME:</label>
                    <div id="createName">
                        <input type=text>
                    </div>
                </div>
                <div>
                    <label>CREATE A USERNAME:</label>
                    <div id="createNickname">
                        <input type=text>
                    </div>
                </div>
                <div>
                    <label>MAKE A PASSWORD:</label>
                    <div id="createPass">
                        <input type=password>
                    </div>
                </div>
                <div>
                    <input class="three" id="button" type="submit" value="NEXT" />
                </div>
        </div>
    </div>

    <!-- Foundation JQuery-->
    <script src="css/foundation/js/vendor/jquery.js"></script>

    <!-- Foundation JavaScript-->
    <script src="css/foundation/js/vendor/foundation.min.js"></script>

    <script>
        $(document).foundation();

    </script>
    <script src='/js/signUp.js'></script>

</body>

</html>
