<!DOCTYPE html>
<html>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <!-- Materialize CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/sprite.css"/>

        <!-- Lords of Might Font-->
        <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">

        <title>Customization - Lords of Might</title>
        <style>
            button {
                font-size: 25px
            }
        </style>
    </head>

<body>
    <audio autoplay loop>
        <source src="/audio/create_signup.mp3" type="audio/mpeg" />
    </audio>
      
<div class="row">
            <h2 style="text-align: center;">CREATE YOUR CHARACTER</h2>
        <div class="col s6">
        
        
            <h4>Body Type</h4>
                <button type="submit" class="add-button" data-part="body" data-link="/img/sprites/lpc/body/male/light.png">
                <i class="small material-icons">accessibility</i>Human</button>
                <button type="submit" class="add-button" data-part="body" data-link="/img/sprites/lpc/body/male/skeleton.png"><i class="small material-icons">accessibility</i>Skeleton</button>
                <button type="submit" class="add-button" data-part="body" data-link="/img/sprites/lpc/body/male/orc.png">
                <i class="small material-icons">accessibility</i>Orc
                </button>
                <button type="submit" class="add-button" data-part="body" data-link="/img/sprites/lpc/body/female/light.png">
                <i class="small material-icons">accessibility</i>Human Female
                </button>
                <button type="submit" class="add-button" data-part="body" data-link="/img/sprites/lpc/body/female/orc.png">
                <i class="small material-icons">accessibility</i>Orc Female
                </button>
                

            <h4>Headgear</h4>
                <button type='submit' class='add-button' data-part='head' data-link="/img/sprites/lpc/head/hoods/male/chain_hood_male.png" id='add-head'>
                <i class="small material-icons">add</i>Chainmail</button>
                <button type='submit' class='add-button' data-part='head' data-link="/img/sprites/lpc/head/caps/male/leather_cap_male.png" id='add-head'>
                <i class="small material-icons">add</i>Cap</button>
                <button type='submit' class='add-button' data-part='head' data-link="/img/sprites/lpc/head/helms/male/chainhat_male.png" id='add-head'>
                <i class="small material-icons">add</i>Recon</button>
                <button type='submit' class='add-button' data-part='head' data-link="/img/sprites/lpc/head/helms/male/metal_helm_male.png" id='add-head'>
                <i class="small material-icons">add</i>Silver Helmet</button>


            <h4>Accessories</h4>
                <button type='submit' class='add-button' data-part='torso' data-link="img/sprites/lpc/torso/plate/chest_male.png" id='add-torso'><i class="small material-icons">add</i>Chest Protector</button>
                <button type='submit' class='add-button' data-part='torso' data-link="img/sprites/lpc/belt/metal/female/bronze.png" id='add-torso'><i class="small material-icons">add</i>Belt Protector</button>
                <button type='submit' class='add-button' data-part='leg' data-link="img/sprites/lpc/legs/armor/male/metal_pants_male.png" id='add-legs'><i class="small material-icons">add</i>Lower Body</button>

            <h4>Weapon</h4>
                <button type='submit' class='add-button' data-part='weapon' id='add-weapon'><i class="small material-icons">add</i>Weapon</button>
    

        <h4>Modify</h4>

        {{!-- <h1> --}}
            <button type='submit' id='undo-head'>Undo head</button>
            <button type='submit' id='undo-torso'>Undo torso</button>
            <button type='submit' id='undo-legs'>Undo legs</button>
            <button type='submit' id='undo-weapon'>Undo weapon</button>
        </h1>
        </div>
        
        <div class="col s6">

        <canvas id='canvas' width='250' height='250'></canvas>

        </div>
            
</div>


        <script src='/js/sprite.js'> </script>
         <script>
        

         </script>
</body>

</html>
