<html>
    <head>
        {{title}}
    </head> 
    <body>
        <nav>

        </nav>

        <main>
            {{{body}}}
        </main>

        <footer>

        </footer>
    </body>
</html>